body {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  font-size: 18px;
  background-image: url("Terraria_Overworld_theme.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}
footer {
  font-size: 85%;
  border-top: 2px solid #333;
  background-color: transparent;
}
.title {
  font-size: 1.25rem;
  background-color: transparent;
}
.colored-box {
    background-color: #b47643;
    border: 2px solid #915630;
    padding: 20px;
    border-radius: 8px;
    width: fit-content;
    margin: 20px 0;
}

.colored-box ol {
    margin-bottom: 0;
}

.colored-box li {
    margin-bottom: 10px;
    color: #333;
}